In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams

import warnings
warnings.filterwarnings('ignore')

In [2]:
import plotly 
import plotly.express as px
import plotly.graph_objs as go
import plotly.offline as py
from plotly.offline import iplot
from plotly.subplots import make_subplots
import plotly.figure_factory as ff

In [4]:
data = pd.read_csv('android-games.csv')
data

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,1,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,96,زوايا - لعبة ستحرك زوايا عقلك,112408,1.0 M,4,0.9,1.8,0.0,GAME WORD,101036,3607,3237,1229,3297,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [5]:
data.columns

Index(['rank', 'title', 'total ratings', 'installs', 'average rating',
       'growth (30 days)', 'growth (60 days)', 'price', 'category',
       '5 star ratings', '4 star ratings', '3 star ratings', '2 star ratings',
       '1 star ratings', 'paid'],
      dtype='object')

In [6]:
!pip install skimpy

Collecting skimpy
  Downloading skimpy-0.0.5-py3-none-any.whl (15 kB)
Requirement already satisfied: pandas<2.0.0,>=1.3.2 in /Users/nicki/opt/anaconda3/envs/web_scraping_env/lib/python3.9/site-packages (from skimpy) (1.4.1)
Collecting rich<11.0.0,>=10.9.0
  Downloading rich-10.16.2-py3-none-any.whl (214 kB)
     |████████████████████████████████| 214 kB 6.5 MB/s eta 0:00:01
Collecting click==7.1.2
  Downloading click-7.1.2-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 3.1 MB/s  eta 0:00:01
Collecting typeguard<3.0.0,>=2.12.1
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Requirement already satisfied: Pygments<3.0.0,>=2.10.0 in /Users/nicki/opt/anaconda3/envs/web_scraping_env/lib/python3.9/site-packages (from skimpy) (2.11.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/nicki/opt/anaconda3/envs/web_scraping_env/lib/python3.9/site-packages (from pandas<2.0.0,>=1.3.2->skimpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/nicki/opt/anaconda3/envs/web_scraping_env/lib/python3.9/site-packages (from pandas<2.0.0,>=1.3.2->skimpy) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/nicki/opt/anaconda3/envs/web_scraping_env/lib/python3.9/site-packages (from pandas<2.0.0,>=1.3.2->skimpy) (1.21.2)
Requirement already satisfied: six>=1.5 in /Users/nicki/opt/anaconda3/envs/web_scraping_env/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.3.2->skimpy) (1.16.0)
Collecting commonmark<0.10.0,>=0.9.0
  Downloading commonmark-0.9.1-py2.py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 15.6 MB/s eta 0:00:01
Collecting colorama<0.5.0,>=0.4.0
  Downloading colorama-0.4.4-py2.py3-none-any.whl (16 kB)
Installing collected packages: commonmark, colorama, typeguard, rich, click, skimpy
Successfully installed click-7.1.2 colorama-0.4.4 commonmark-0.9.1 rich-10.16.2 skimpy-0.0.5 typeguard-2.13.3

In [7]:
from skimpy import clean_columns

In [8]:
columns = ['rank', 'title', 'total ratings', 'installs', 'average rating',
       'growth (30 days)', 'growth (60 days)', 'price', 'category',
       '5 star ratings', '4 star ratings', '3 star ratings', '2 star ratings',
       '1 star ratings', 'paid']
messy_df = pd.DataFrame(data = [], columns=columns, index=[0])
clean_df= clean_columns(messy_df)
clean_df.columns.tolist()

['rank',
 'title',
 'total_ratings',
 'installs',
 'average_rating',
 'growth_30_days',
 'growth_60_days',
 'price',
 'category',
 '5_star_ratings',
 '4_star_ratings',
 '3_star_ratings',
 '2_star_ratings',
 '1_star_ratings',
 'paid']

In [9]:
data.columns = clean_df.columns.tolist()
data.columns

Index(['rank', 'title', 'total_ratings', 'installs', 'average_rating',
       'growth_30_days', 'growth_60_days', 'price', 'category',
       '5_star_ratings', '4_star_ratings', '3_star_ratings', '2_star_ratings',
       '1_star_ratings', 'paid'],
      dtype='object')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1730 entries, 0 to 1729
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rank            1730 non-null   int64
 1   title           1730 non-null   object
 2   total_ratings   1730 non-null   int64
 3   installs        1730 non-null   object
 4   average_rating  1730 non-null   int64
 5   growth_30_days  1730 non-null   float64
 6   growth_60_days  1730 non-null   float64
 7   price           1730 non-null   float64
 8   category        1730 non-null   object
 9   5_star_ratings  1730 non-null   int64
 10  4_star_ratings  1730 non-null   int64
 11  3_star_ratings  1730 non-null   int64
 12  2_star_ratings  1730 non-null   int64
 13  1_star_ratings  1730 non-null   int64
 14  paid            1730 non-null   bool
dtypes: bool(1), float64(3), int64(8), object(3)
memory usage: 191.0+ KB

In [11]:
data.describe()

,rank,total_ratings,average_rating,growth_30_days,growth_60_days,price,5_star_ratings,4_star_ratings,3_star_ratings,2_star_ratings,1_star_ratings
count,1730.000000,1.730000e+03,1730.000000,1730.000000,1730.000000,1730.000000,1.730000e+03,1.730000e+03,1.730000e+03,1.730000e+03,1.730000e+03
mean,50.386705,1.064332e+06,3.908092,321.735896,122.554971,0.010942,7.622315e+05,1.164366e+05,5.706307e+04,2.710336e+04,1.014950e+05
std,28.936742,3.429250e+06,0.290973,6018.914507,2253.891703,0.214987,2.538658e+06,3.021631e+05,1.495314e+05,8.154542e+04,4.083745e+05
min,1.000000,3.299300e+04,2.000000,0.000000,0.000000,0.000000,1.397500e+04,2.451000e+03,7.180000e+02,2.660000e+02,5.450000e+02
25%,25.000000,1.759992e+05,4.000000,0.100000,0.200000,0.000000,1.277300e+05,2.064300e+04,9.652500e+03,4.262250e+03,1.281200e+04
50%,50.000000,4.286065e+05,4.000000,0.500000,1.000000,0.000000,2.964340e+05,5.098050e+04,2.507800e+04,1.067550e+04,3.368600e+04
75%,75.000000,8.837970e+05,4.000000,1.700000,3.300000,0.000000,6.198358e+05,1.018140e+05,5.229500e+04,2.322875e+04,8.015725e+04
max,100.000000,8.627313e+07,4.000000,227105.700000,69441.400000,7.490000,6.354677e+07,5.404966e+06,3.158756e+06,2.122183e+06,1.249592e+07

In [29]:
game_data = data.copy()
game_data.head()

,rank,title,total_ratings,installs,average_rating,growth_30_days,growth_60_days,price,category,5_star_ratings,4_star_ratings,3_star_ratings,2_star_ratings,1_star_ratings,paid
0,1,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False

In [30]:
game_data.installs.value_counts()

10.0 M      805
50.0 M      252
5.0 M       245
100.0 M     204
1.0 M       192
500.0 k      15
500.0 M      12
100.0 k       3
1000.0 M      2
Name: installs, dtype: int64

In [31]:
def to_million (inst):
    if inst == '500.0 k':
        return '0.5 M'
    elif inst == '100.0 k':
        return '0.1 M'
    else:
        return inst

In [32]:
game_data['installs'] = game_data['installs'].apply(to_million)
game_data.installs.value_counts()

10.0 M      805
50.0 M      252
5.0 M       245
100.0 M     204
1.0 M       192
0.5 M        15
500.0 M      12
0.1 M         3
1000.0 M      2
Name: installs, dtype: int64

In [33]:
game_data['installs'] = game_data['installs'].str.replace('M', '').str.strip().astype('float')
game_data['installs']

0       500.0
1       500.0
2       100.0
3       100.0
4       500.0
        ...
1725      1.0
1726      1.0
1727     10.0
1728      5.0
1729     10.0
Name: installs, Length: 1730, dtype: float64

In [34]:
game_data.installs.dtypes

dtype('float64')

In [36]:
game_data = game_data.rename(columns={'installs': 'installs_in_millions'})
game_data

,rank,title,total_ratings,installs_in_millions,average_rating,growth_30_days,growth_60_days,price,category,5_star_ratings,4_star_ratings,3_star_ratings,2_star_ratings,1_star_ratings,paid
0,1,Garena Free Fire- World Series,86273129,500.0,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,96,زوايا - لعبة ستحرك زوايا عقلك,112408,1.0,4,0.9,1.8,0.0,GAME WORD,101036,3607,3237,1229,3297,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [37]:
game_data['5_star_percent'] = round(game_data['5_star_ratings']  / (game_data['5_star_ratings'] + game_data['4_star_ratings'] + game_data['3_star_ratings'] + game_data['2_star_ratings'] + game_data['1_star_ratings']) * 100, 2)
game_data['4_star_percent'] = round(game_data['4_star_ratings']  / (game_data['5_star_ratings'] + game_data['4_star_ratings'] + game_data['3_star_ratings'] + game_data['2_star_ratings'] + game_data['1_star_ratings']) * 100, 2)
game_data['3_star_percent'] = round(game_data['3_star_ratings']  / (game_data['5_star_ratings'] + game_data['4_star_ratings'] + game_data['3_star_ratings'] + game_data['2_star_ratings'] + game_data['1_star_ratings']) * 100, 2)
game_data['2_star_percent'] = round(game_data['2_star_ratings']  / (game_data['5_star_ratings'] + game_data['4_star_ratings'] + game_data['3_star_ratings'] + game_data['2_star_ratings'] + game_data['1_star_ratings']) * 100, 2)
game_data['1_star_percent'] = round(game_data['1_star_ratings']  / (game_data['5_star_ratings'] + game_data['4_star_ratings'] + game_data['3_star_ratings'] + game_data['2_star_ratings'] + game_data['1_star_ratings']) * 100, 2)

In [38]:
game_data.head(1)

,rank,title,total_ratings,installs_in_millions,average_rating,growth_30_days,growth_60_days,price,category,5_star_ratings,4_star_ratings,3_star_ratings,2_star_ratings,1_star_ratings,paid,5_star_percent,4_star_percent,3_star_percent,2_star_percent,1_star_percent
0,1,Garena Free Fire- World Series,86273129,500.0,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False,73.66,5.74,3.66,2.46,14.48

In [39]:
last_column = game_data.pop('paid')
game_data.insert(19, 'paid', last_column)
game_data.head(1)

,rank,title,total_ratings,installs_in_millions,average_rating,growth_30_days,growth_60_days,price,category,5_star_ratings,4_star_ratings,3_star_ratings,2_star_ratings,1_star_ratings,5_star_percent,4_star_percent,3_star_percent,2_star_percent,1_star_percent,paid
0,1,Garena Free Fire- World Series,86273129,500.0,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,73.66,5.74,3.66,2.46,14.48,False